/* section my blog styles */
.blog-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-container > div {
 
  width: 90%;
  min-height: 480px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 60px;
}
.blog-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pd-buttons {
  width: 50%;
  margin: 0 auto;
}
.blog-posts > div:nth-child(2) {
  margin-top: 15px;
  text-align: center;
  height: 58px;
}
.blog-posts > div:not(:nth-child(1)) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}
.blog-posts > div:last-child {
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
  line-height: 20px;
  font-size: 18px;
}
.blog-posts > div img {
  width: 100%;
  height: 250px;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.5);
}
.subtitle span {
  color: #0e172d;
}
.blog-container .post-container {
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
}
.blog-container .post-container img {
  height: 400px;
}
.blog-container .post-container p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}
.post-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  margin-top: 0;
}
.post-section > div:nth-child(1) {
  width: 20%;
  min-height: 100%;
  margin: 30px 0 0 20px;
  text-align: center;
}
.post-section > div:nth-child(1) div {
  margin-bottom: 10px;
}
.author-social-icons ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.author-social-icons ul li {
  margin-right: 15px;
}
.author-social-icons img {
  width: 30px;
  height: 30px;
}
.author-post-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 55px;
}
.author-post-details h3 {
  text-transform: uppercase;
}
.author-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
}
.post-likes {
  display: block;
  position: absolute;
  top: 800px;
  left: 95%;
  cursor: pointer;
  text-align: center;
}
.post-likes img {
  width: 30px;
  height: 30px;
}
.post-shares {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background: none;
  transition: linear 1s ease-in-out;
}
.post-shares:hover {
  background: #999;
  cursor: pointer;
}
.post-shares span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #444;
  margin-left: 3px;
}
.post-share-links {
  display: none;
  width: 250px;
  min-height: 250px;
  position: absolute;
  margin-top: 30px;
  margin-left: 10px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
}
.post-share-links > div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
}
.post-share-links > div:nth-child(1) input {
  width: 80%;
}
.post-share-links > div:nth-child(1) img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.post-share-links > div:nth-child(2) {
  display: flex;
  align-items: center;
  border: 3px solid #333;
}
.post-section > div:nth-child(2) {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
}
.post-details,
.comment-section,
.replies-section {
  border: 3px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}
.post-details img {
  width: 100%;
  height: 350px;
}
.post-paras {
  margin: 0 50px;
}
.post-paras p {
  font-size: 1.25em;
  margin-bottom: 20px;
}
.post-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  min-height: 100%;
  padding: 0 10px;
}
.post-heading h1 {
  text-align: center;
}
.comment-section {
  min-height: 100px;
}
.comment-section,
.replies-section {
  padding: 30px 50px 20px 50px;
}
.comment-section .form-group {
  width: 100%;
}
.comment-section textarea {
  width: 90%;
  height: 150px;
  border-color: #222;
  color: #111;
  margin-top: 10px;
}
.comment-section .view-more {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.comment-section .view-more button {
  width: 150px;
  height: 40px;
}
.replies-section > span {
  font-style: italic;
  font-size: 24px;
  font-weight: bolder;
}
.replies-section > hr {
  margin-bottom: 20px;
}
.comment-user {
  display: flex;
}
.comment-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.replies-section .view-more {
  display: flex;
  margin: 20px 0;
}
.replies-section h3 {
  text-transform: capitalize;
}
.replies-section .view-more a {
  color: #0c1838;
  font-weight: bolder;
}

/* styles for post compose */
.add-post-container,
.top-intro,
.post-contents-container {
  display: flex;
  flex-direction: column;
}
.add-post-container {
  width: 100%;
  min-height: 100%;
  background: #f2f1f1;
  padding-top: 20px;
}
.add-post-container > div {
  width: 60%;
  margin: 0 auto;
}
.top-intro {
  justify-content: space-between;
}
.top-intro div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.top-intro div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.top-intro div:nth-child(1) button {
  width: 70px;
  height: 30px;
}
.top-intro div:nth-child(2) a {
  margin-right: 10px;
  opacity: 0.7;
  font-size: 17px;
}
.top-intro div:nth-child(2) a.active {
  opacity: 1;
}
.post-contents-container {
  background-color: #fff;
  margin-top: 10px;
}
.post-contents-container > * {
  margin: 20px 50px;
  color: #111;
}
.post-contents-container input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.post-contents-container input[type="text"],
.post-contents-container textarea,
.post-contents-container input[type="file"] {
  border: none;
}
.post-contents-container input[type="text"] {
  font-size: 40px;
  font-weight: bolder;
}
.post-contents-container textarea {
  height: 150px;
  font-size: 25px;
  font-weight: 800;
}
.add-post-container .actions {
  margin-top: 20px;
  margin-bottom: 20px;
}
.actions button {
  font-size: 18px;
  width: 120px;
  height: 40px;
}
.actions button:nth-child(2) {
  background: none;
  color: #111;
  border: 1px solid #0c1838;
}
.add-post-container .settings-container {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 60px;
}
.settings-container > div:nth-child(2) {
  width: 75%;
}
.add-post-container .post-contents-container {
  margin-bottom: 20px;
}
.user-sidebar {
  width: 20%;
  margin-top: 10px;
}
.user-sidebar li {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
}
.user-sidebar li:hover {
  background: #eaeaea;
}
.user-sidebar a {
  width: 100%;
  font-size: 18px;
}
.user-sidebar .active {
  background: #fff;
  font-weight: 600;
}
.settings-container .post-contents-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70px;
  margin: 10px 40px;
}
.settings-container label {
  font-size: 18px;
  font-weight: 900;
}
.settings-container .post-contents-container input,
.settings-container .post-contents-container textarea {
  font-size: inherit;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px 0 5px 5px;
}
.settings-container .post-contents-container textarea {
  height: 100px;
}
.settings-container .profile {
  display: flex;
  align-items: center;
}
.settings-container .profile input {
  display: block;
  border: none;
  margin-left: 10px;
}
.settings-container .profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-contents-container li {
  list-style: disc;
  margin-bottom: 5px;
}
.post-contents-container span {
  margin: 5px 50px;
}
.post-contents-container span.text-bold {
  font-weight: bolder;
}
.danger {
  color: #e02d2d;
}
.bg-danger button {
  background: #e02d2d;
  color: #fff;
}
.bg-danger button:hover {
  color: #e02d2d;
  border: 1px solid #e02d2d;
  background: none;
}
.settings-container .post-contents-container.notifications > div {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
}
.settings-container .post-contents-container.notifications > div *:not(button) {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 66px;
}
.notifications input {
  cursor: pointer;
}
.user-posts {
  background: none;
}
.settings-container .post-contents-container .cards {
  flex-direction: row;
}
.cards > div {
  background: #fff;
  font-size: 24px;
  font-weight: bold;
}
.cards > div * {
  display: flex;
  flex-direction: column;
}
.post-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.post-title a {
  background-color: #2124ce;
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
}
.post-lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  min-height: 100%;
  border-bottom: 1px solid rgb(204, 199, 199);
}
.post-lists .title {
  width: 40%;
}
.post-lists .state,
.post-lists .state-draft {
  background-color: #0fb409;
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
}
.post-lists .state-draft {
  background-color: #1a73e8;
}
.post-lists .actions {
  display: flex;
  justify-content: space-around;
  width: 130px;
}
.post-lists .actions a:nth-child(1) {
  color: #e40a0a;
}
.post-lists .actions a:nth-child(2) {
  color: #1c0f91;
}
.toggle-profile-menu {
  display: none;
  cursor: pointer;
}

.toggle-profile-menu > div {
  width: 30px;
  height: 4px;
  background-color: #222;
  margin: 6px 20px;
  border-radius: 1000px;
  transition: 0.4s;
}

.edit-image {
  width: 70%;
  height: 300px;
}

/* media queries */
@media (max-width: 768px) {
  .post-section {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .post-section > div:nth-child(1) {
    display: flex;
    width: 100%;
    margin: 0;
  }
  .post-section > div:nth-child(2) {
    width: 100%;
  }
  .add-post-container > div {
    width: 95%;
  }
  .blog-container > div,
  .add-post-container .settings-container {
    width: 100%;
  }
  .settings-container > div:nth-child(2) {
    width: 100%;
  }
  .user-sidebar {
    width: 10%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .user-sidebar ul {
    display: none;
  }
  .toggle-profile-menu {
    display: block;
    margin-left: 10px;
  }
  .toggle-profile-menu > div {
    margin: 6px 0;
  }
  .user-sidebar ul.profile-change {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 8%;
    width: 40%;
    background: #fff;
    padding: 0.25em;
    margin: 0;
    margin-top: 190px;
    z-index: 999;
  }
  .settings-container .post-contents-container .cards {
    width: 95%;
    flex-direction: column;
    margin: 0 5px;
  }
  .cards > div {
    margin-bottom: 20px;
  }

  .settings-container .post-contents-container .posts-table {
    width: 95%;
    margin: 0 5px;
  }
  .post-likes {
    position: absolute;
    top: 70%;
    left: 90%;
  }

  .blog-buttons {
    width: 100%;
    justify-content: space-between;
  }
}

.login-link {
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
  border: 3px solid #a1a4ad;
  padding: 5px 15px;
  margin-right: 10px;
}
.active {
  opacity: 1;
}
.toggle-menu {
  display: none;
  cursor: pointer;
}

.toggle-menu > div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px 20px;
  border-radius: 1000px;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-10px, 5px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-9px, -4px);
}

/* section overlay styles */
section {
  width: 100%;
  min-height: 100%;
  background: #928e8e;
  padding-bottom: 10px;
  
}
section .overlay {
  background: url("../assets/images/overlay-background.png");
  background-size: 100% 100%;
  width: 100%;
  min-height: 350px;
  display: flex;
  justify-content: flex-end;
}
section .contact-overlay-bg {
  background: url("../assets/images/overlay-contact-bg.png");
  background-size: 100% 100%;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
}
section .about-bg {
  background: url("../assets/images/overlay-about-bg.png");
  background-size: 100% 100%;
}
section .blog-bg {
  background: url("../assets/images/overlay-blog-bg.png");
  background-size: 100% 100%;
}
section .service-bg {
  background: url("../assets/images/overlay-service-bg.png");
  background-size: 100% 100%;
}
section .project-bg {
  background: url("../assets/images/overlay-project-bg.png");
  background-size: 100% 100%;
}
.overlay-contents-box {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.overlay-contents-box > div {
  width: 38%;
  min-height: 100px;
}

/* styles for overlay contents for pages excluding landing page*/
.overlay-contents {
  width: 100%;
  min-height: 100%;
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay-contents > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 55%;
  min-height: 298px;
  text-align: center;
  background: url("../assets/images/overlay-bg.svg") center;
}
.overlay-intro > div {
  width: 100%;
  height: 100%;
}
.overlay-intro > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-box1 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 80px;
  min-height: 300px;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
}
.overlay-box1 > * {
  margin-bottom: 10px;
}
.overlay-box1 h3 {
  font-size: 30px;
}
.overlay-box1 p {
  font-size: 20px;
  line-height: 30px;
}
.overlay-box1 a {
  align-self: flex-end;
  margin: 10px;
}
.overlay-box1 .view-more button {
  width: 150px;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.social-links img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.overlay-box2 {
  position: relative;
  bottom: 10px;
  right: 120px;
  display: flex;
  align-items: flex-end;
}
button {
  background-color: #0e172d;
  border: none;
  border-radius: 1000px;
  color: #fff;
  font-family: "Barlow", sans-serif;
  cursor: pointer;
}
button:hover {
  color: #0e172d;
  border: 2px solid #0e172d;
  background: none;
}
.overlay-box2 button {
  width: 150px;
  height: 50px;
  font-size: 20px;
}
.overlay-box3 {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.overlay-box3 img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
}
.overlay-contents h1 {
  font-size: 5em;
  font-family: sans-serif;
}
.overlay-contents p {
  text-align: center;
  font-size: 1.35em;
}

/* section featured projects styles */
.sections {
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.sections h2,
.sections hr {
  margin-bottom: 5px;
}
.project-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
}
.project-container > div {
  width: 48%;
  min-height: 450px;
}
.project-thumb {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.14) 0%,
    rgba(30, 25, 25, 0) 100%
  );
}
.project-thumb img {
  width: 100%;
  height: 400px;
  margin: 30px 0 0 30px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.25);
}
.project-details {
  background: linear-gradient(
    180deg,
    rgba(29, 37, 54, 0.29) 30.21%,
    rgba(74, 72, 72, 0) 100%
  );
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.6);
}
.marg-bottom .mg-bt-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.marg-bottom .mg-bt-btn button {
  width: 150px;
  margin: 10px 0;
}
.project-details div {
  flex: 2;
}
.project-details h1 {
  font-size: 36px;
}
.project-details p {
  font-size: 18px;
  line-height: 35px;
}
.project-details div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.project-details button {
  width: 150px;
  height: 40px;
  font-size: 20px;
}
.marg-bottom {
  margin-bottom: 200px;
}
.mg-bt-btn button {
  margin-left: 20px;
}
.project-details div.tech-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.tech-container img {
  width: 55px;
  height: 45px;
}

/* section my services styles */
.services-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.service-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-container > div {
  background: rgba(71, 71, 71, 0.14);
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.6);
  width: 48%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.service-container > div img {
  width: 150px;
  height: 100px;
}
.upper-line {
  background: linear-gradient(180deg, #000000 0%, rgba(26, 100, 123, 0) 100%);
  border-radius: 10px;
  width: 100%;
  height: 10px;
}
.services > div:nth-child(2) {
  margin-top: 15px;
  min-height: 110px;
}
.services > div:not(:nth-child(1)) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services > div:nth-child(3) {
  min-height: 65px;
  text-align: center;
}
.services > div:last-child {
  margin: 30px 20px;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
}
.subtitle {
  color: #706f6f;
  justify-self: flex-start;
  height: 50px;
}
.view-more {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.view-more button {
  width: 230px;
  height: 50px;
  font-size: 20px;
}
.service-container-expanded {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 100px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.service-detail {
  margin: 20px;
}
.service-container-expanded > div {
  display: flex;
}
.service-container-expanded:nth-child(even) {
  flex-direction: row-reverse;
}
.service-container-expanded > div:nth-child(1) {
  width: 30%;
}
.service-container-expanded > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}
.service-container-expanded img {
  width: 250px;
  height: 200px;
}

/* section about me styles */
.about-container * {
  text-align: center;
}
.about-container p {
  margin-bottom: 10px;
}
.about-container h1 {
  margin: 25px 0;
}

/* lower footer styles */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.login-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
.upper-footer {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0;
}
.upper-footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
.upper-footer .left-side {
  width: 70%;
  min-height: 150px;
}
.upper-footer .left-side div {
  width: 400px;
}
.upper-footer .left-side h1 {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: capitalize;
}
.upper-footer .left-side p {
  margin-bottom: 20px;
}
.upper-footer .left-side button {
  background: linear-gradient(
    180deg,
    rgba(1, 54, 103, 0.58) 0%,
    rgba(48, 67, 85, 0) 100%
  );
  border-radius: 1000px;
  width: 200px;
  height: 50px;
  font-size: 24px;
}
.upper-footer .left-side button:hover {
  color: #fff;
  border: 2px solid #fff;
  background: none;
}
.upper-footer .right-side {
  width: 30%;
  align-items: flex-start;
}
.upper-footer .right-side ul {
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.upper-footer .right-side ul li {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.upper-footer .right-side ul li span {
  flex: 3;
  margin-left: 10px;
}
.lower-footer {
  width: 100%;
  min-height: 40px;
  background: #0e172d;
  box-shadow: 21px 4px 45px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.lower-footer div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}
.lower-footer div img {
  width: 100%;
}

/* profile menu */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}
.avatar img,
.avatar span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #0e172d;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}
.avatar:hover {
  cursor: pointer;
}

/* hide menu */
.menu {
  display: none;
  width: 200px;
  min-height: 120px;
  margin: 30px 0 0 0;
  position: absolute;
  top: 10px;
  right: -20px;
  background: #0e172d;
  border-radius: 5px;
}
.menu li {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% / 3);
  margin: 0;
  padding: 6px 4px;
}
.menu li > a {
  width: 100%;
  color: #fff;
}

.menu li:hover {
  border-bottom: 1px solid #222;
  border-radius: 3px;
}

/* hover profile show menu */
.avatar:hover .menu {
  display: block;
}

.author-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #0e172d;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50%;
  border: 4px solid #213464;
  margin: 0 auto;
}
.content{
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.content .card{
  height: 500px;
  flex: 1;
  margin: 50px 20px;
  background: rgba(68, 68, 68, 0.14);
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.6);
}
.content .card h4{
margin-top: 10px;
margin-left: 50px;
font-size: 18px;
}
.content .card p{
  margin-top: 10px;
  margin-left: 50px;
  font-size: 15px;
  }
.card img{
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

.author-post-details{}

/* media queries */
@media (max-width: 768px) {
  header .at-bottom {
    width: 100%;
    position: relative;
  }
  .toggle-menu {
    position: absolute;
    display: inline-block;
    top: 10;
    right: 5%;
  }
  nav {
    width: 100%;
  }
  nav ul {
    display: none;
    align-items: center;
  }
  nav ul.change {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0%;
    width: 100%;
    background: #0e172d;
    height: 90vh;
    padding: 1.25em;
    margin: 0;
    margin-top: 80px;
    z-index: 999;
  }

  nav ul li {
    flex-basis: 2em;
    font-size: 1.5em;
    color: #fff;
  }
  section .overlay,
  section .contact-overlay-bg,
  section .about-bg,
  section .blog-bg,
  section .service-bg,
  section .project-bg {
    background-size: cover;
    background-position: center;
  }
  .overlay-contents-box {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
  .overlay-box1 {
    width: 100%;
    margin: 0;
    align-self: center;
  }
  .overlay-box2 {
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
  }
  .overlay-contents-box > div {
    width: 90%;
    margin-top: 10px;
  }
  .overlay-box3 {
    height: 300px;
    justify-content: center;
    align-items: flex-end;
  }
  .sections {
    width: 90%;
  }
  .project-thumb,
  .project-details,
  .service-container,
  .blog-container {
    width: 100%;
  }
  .overlay-contents h1 {
    font-size: 3em;
  }
  .project-container > div {
    width: 100%;
  }
  .mg-bt-btn button {
    margin: 10px 0;
  }
  .project-thumb img {
    width: 100%;
    margin: 0;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
  }
  .overlay-contents div:nth-child(2) {
    width: 80%;
  }
  .overlay-contents > div {
    width: 95%;
  }
  .service-container-expanded {
    flex-direction: column;
  }
  .service-container-expanded * {
    margin-bottom: 20px;
  }
  .service-container-expanded:nth-child(even) {
    flex-direction: column;
  }
  .service-container-expanded > div:nth-child(1),
  .service-container-expanded > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .service-container-expanded > div * {
    text-align: center;
  }
  .service-container > div,
  .social-links {
    width: 100%;
  }
  .upper-footer .left-side,
  .upper-footer .right-side,
  .upper-footer .left-side div {
    width: 100%;
  }
  .upper-footer .left-side,
  .upper-footer .right-side {
    margin: 10px;
  }
  .lower-footer {
    text-align: center;
  }
  .lower-footer div {
    margin: 0;
  }
  .menu {
    width: 200px;
    left: -100px;
    right: 0;
  }
}

@media (max-width: 480px) {
  .overlay-contents > div {
    background: linear-gradient(
      180deg,
      rgba(1, 1, 1, 0.62) 1.95%,
      rgba(34, 34, 34, 0.69) 102.62%
    );
  }
}
