/* contact form styles */
.contact-container {
	width: 100%;
	min-height: 300px;
	background: linear-gradient(180deg, #0e172d 21.35%, rgba(92, 89, 89, 0) 100%);
	box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);
}
.contact-container form {
	width: 90%;
	min-height: inherit;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.form-group {
	width: 70%;
}
.form-group label {
	font-size: 20px;
	margin: 0 0 10px 10px;
}
.form-group-1 {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form-group-2 {
	height: 180px;
}
.form-group-1 div,
.form-group-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.form-group-2 {
	justify-content: center;
}
.form-group-3 {
	height: 80px;
	display: flex;
	justify-content: flex-start;
}
.contact-container form input,
.contact-container form textarea {
	background: transparent;
	border: 3px solid #fff;
	border-radius: 12px;
	color: #fff;
	padding-left: 15px;
	font-size: 18px;
}
.contact-container form input {
	width: 400px;
	height: 45px;
}
.contact-container textarea {
	width: 100%;
	height: 150px;
	padding-top: 20px;
}

/* login styles */
.login-signup-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	min-height: 100vh;
}
.login-container {
	width: 60%;
	min-height: 100%;
	background: linear-gradient(180deg, #182952 39.06%, rgba(59, 110, 233, 0) 100%);
	box-shadow: 0px 0px 10px #172854;
	display: flex;
}
.login-container > div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.first-side {
	display: flex;
	align-items: center;
	width: 55%;
	height: inherit;
}
.content-center {
	width: 85%;
	height: 30vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.content-center div {
	height: calc(30vh / 3);
}
.content-center div:nth-child(1) {
	display: flex;
	align-items: flex-end;
	margin-bottom: 5px;
}
.content-center div:nth-child(1) p {
	font-weight: 500;
	font-size: 21px;
	color: rgba(255, 255, 255, 0.5);
}
.content-center h1 {
	letter-spacing: 0.11em;
}
.content-center div:nth-child(2) p {
	letter-spacing: 0.11em;
	color: #fffcfc;
}
.second-side {
	width: 45%;
	min-height: 100%;
	background: #fff;
}
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}
.form-container > div {
	flex: 1;
	margin-bottom: 3px;
}
.login-text {
	width: 100%;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-with {
	width: 80%;
	min-height: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #666;
	border-radius: 6px;
	margin: 0 auto;
	cursor: pointer;
}
.login-with:hover {
	background: #777;
}
.login-with img {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 35px;
}
.login-with span {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 4;
	width: 60%;
	font-size: 20px;
	font-weight: bolder;
	height: 100%;
}
.login-with .social-links {
	justify-content: space-around;
}
.login-with .social-links li {
	cursor: pointer;
}
.or {
	margin-top: 15px;
	text-align: center;
}
.login-text p {
	font-family: 'Agency FB' sans-serif;
	font-weight: bold;
	font-size: 28px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 41, 82, 1) 35%, rgba(0, 212, 255, 1) 100%);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
.form-contents {
	width: 90%;
	min-height: 260px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}
.form-contents > div {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.form-contents > div.f-center {
	justify-content: center;
}
.signup-contents {
	min-height: 290px;
	justify-content: space-between;
}
.input-box {
	width: 100px;
	margin-bottom: 5px;
}
.input-box > input:not(.remember-box) {
	width: 100%;
	border: none;
	border-bottom: 1px solid #9a8d8d;
	transform: matrix(1, 0, 0, 1, 0, 0);
	padding-left: 30px;
	font-size: 15px;
}
.input-box > i {
	position: relative;
	left: 22px;
	z-index: 99;
	font-size: 20px;
}
.send-button {
	margin-top: 0;
}
.send-button button {
	width: 100%;
	height: 35px;
}
.input-box:nth-child(4) span {
	padding-left: 5px;
}
.bottom-text {
	align-items: center;
	justify-content: center !important;
}
.bottom-text a {
	color: #182952;
	font-size: 20px;
	padding-left: 5px;
}
.input-box > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.input-box:nth-child(2),
.input-box:nth-child(4):not(.input-check) {
	justify-content: space-around;
}
.success-msg,
.error-msg {
	display: none;
	justify-content: center;
	align-items: center;
	width: 90%;
	font-size: 20px;
	background-color: #d8f7cf;
	border: 1px solid #188038;
	border-radius: 3px;
	margin: 0 auto;
	color: #188038;
	animation: appear 0.4s;
}
.post-contents-container .password-msg,
.post-contents-container .pass-error-msg {
	display: none;
	background-color: #e02d2d;
	font-size: 20px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	padding: 3px;
}
.error-msg {
	background-color: #fbe9e6;
	border: 1px solid #e02d2d;
	color: #e02d2d;
}
@keyframes appear {
	from {
		height: 0;
	}
	to {
		height: 30px;
	}
}

/* media queries */
@media (max-width: 768px) {
	.form-group-1,
	.form-group-2,
	.contact-container form input,
	.form-group-1 div,
	.form-group-3,
	.blog-buttons {
		width: 100%;
	}
	.form-group-1 {
		align-items: flex-start;
	}
	.form-group-2 {
		height: 200px;
	}
	.login-with span {
		font-size: 16px;
	}
	.view-more button {
		width: 200px;
	}
	.login-container {
		width: 80%;
	}
	.form-contents > div {
		justify-content: flex-start;
	}
	.login-container > div:nth-child(1) {
		display: none;
	}
	.login-container > div:nth-child(2) {
		width: 100%;
	}
	.login-with img {
		display: none;
	}
	.send-button button {
		width: 100%;
	}
	.success-msg,
	.error-msg {
		width: 100%;
	}
}
